@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.white{
    color: #FFFFFF;
}
.orange{
    color: #FF900E;
}
.bg-orange{
    background-color: #FF900E;
}
.bg-opaque-orange{
    background-color: rgba(255, 144, 14, .1);
}

.display-flex{
    display: flex;
}

.button-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.04vw 1.3vw;
    border-radius: .4vw;
    border: none;
}
h1{
    font-size: 2.8rem;
    font-weight: bold;
}
h3{
    font-size: 1.25rem;
    font-weight: 600;
}
p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
html {
    font-size: 16px; /* Base font size */
}
body{
    margin: 0px;
    border: none;
}
header{
    padding: 0 10%;
    padding-bottom: 3%;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-bar > h1{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-bar ul{
    padding: 0;
}
.nav-class li{
    padding: 2vw;
    list-style: none;
    text-decoration: none;
}
.nav-class a{
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}
*{
    margin: 0;
}

section{
    margin-top: 10vh;
}

/* banner */

.banner{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5vh;
}
.banner > h1{
    font-size: 4rem;
    font-weight: bold;
}

.banner > img{
    width: 100%;
}

/* team section */
.team{
    margin-left: 15.67%;
    margin-right: 15.67%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
}
.img-section > img{
    width: 100%;
}
.team-feature{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
    gap: 5vh;
}

.features{
    padding: 0 10%;
    justify-content: space-evenly;
}
.features-des{
    width: 40%;
    flex-direction: column;
    /* justify-content: ; */
}
.features-img{
    width: 40%;
}
.features-img > img{
    width: 100%;
}
.features-img > button{
    font-size: 3rem;
    font-weight: 700;
    line-height: 75%;
    position: relative;
    bottom: 10%;
    left: -10%;
    padding: 8% 10%;
}
.features span{
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 0px;
}

.features-card-container{
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.features-card{
    padding: 5.8%;
    border-radius: .4vw;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features h3{
    padding: 2vh 0;
}

.facts{
    padding: 0 10%;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    margin: 12%;
    aspect-ratio: 1 / 1;
}
.facts-container > .facts-card {
    min-width: 0; /* Prevent overflow */
    min-height: 0; /* Prevent overflow */
}
.num{
    font-size: 2.4rem;
    font-weight: 600;
    color: #424242;
}
.txt{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
}
.facts h1{
    margin-bottom: 1%;
}

.sponsors{
    padding: 0 10%;
    flex-direction: column;
    text-align: center;
    gap: 3vh;
    margin-bottom: 5vh;
}
.sponsors-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 6vw;
}
.sponsors-container img{
    width: 100%;
    filter: grayscale();
}

footer{
    margin: 0 10%;
    text-align: center;
    font-size: 1.25 rem;
    font-weight: 400;
    padding: 4vh 0;
    border-radius: 8px;
}